
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    font: 11px Verdana, sans-serif;
}

ul {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3.5px solid #978966;
}

body::-webkit-scrollbar-thumb:hover {
    background: #978966;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.slide,
.calendar,
.calendarsunset,
table,
iframe {
    box-shadow: 0 5px 5px  #978966;
}

.wrapperhome,
.wrappersunrise,
.wrappersunset,
.wrappersurroundings,
.wrapperpula,
.wrapperlocation {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

.wrappersurroundings,
.wrapperpula,
.wrapperlocation,   
.wrappersunset,
.wrappersunrise {   
    padding: 20px 0 0 0;
}

.left-section {
    flex: 1 1 20%;
}

.left-sectionl {
    flex: 1 1 30%;
}

.right,
.right-section {
    flex: 1 1 60%;
    padding: 10px 3.5vw 0 0;
}

.logo {
    color: #BE8B06;
    padding: 0 2vw 0 3.5vw;
    text-align: center;
    width: 30vw;
}

.logo p {
    border-bottom: 1px solid #C4AE7C;
    font-weight: bold;
    padding: 1px; 
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font: 22px Arial, sans-serif;
    text-align: center;
    font-family:'Cinzel', serif; 
    padding: 0 3.5vw 0 3.5vw;       
}

.title p {
    border-bottom: 1px solid #C4AE7C;
    margin: 0 15px 0 0;
    padding: 1px;
    color:  #BE8B06;  
}

.surroundingsp p,
.pulap p {
    padding: 10px 0 0 0;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.nav {
    flex: 11 30%;
    padding: 15px 0 0 3.5vw;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    gap: 1.4vw;
}

.textlefthome {
    flex: 1 1 70%;
}

.textlefthome img {
    border: none;
    box-shadow: none;
    padding: 20vh 0 0 0;
    width: 15vw;

}

.textleft {
    width: 95%;
    color: #BE8B06;
    padding: 0 3.5vw 0 3.5vw; 
}

.flags {
    text-align: center;
    padding: 5px 0 0 2vw;
}

.flag-list > li {
    width: 15%;      
}

.flag-list ul {
    height: 40px;
    text-align: center;   
}

.flags ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.flag-list img {
    width: 3vw;
    height: 2vw;
    border-radius: 50%;
    box-shadow: none;
    margin: 0 0 0 0;
}

.flag-list img:hover {
    border-radius: 50%;
    transform: scale(1.6);  
}

.nav img {
    width: 3vw;
    border-radius: 50%;
    border: 2px solid #C4AE7C; 
}

.icons2 img,
.totop img {
    border-radius: 50%;
    border: 2px solid #C4AE7C;
    width: 30px; 
}

.nav img:hover,
.icons2 img:hover,
.totop img:hover {
    border: 2px solid #978966;
    box-shadow: 0 0 10px #FEAD15;
    transition: transform 0.3s ease;
    transform: scale(1.34);      
}

.swiper-wrapper {
    width: 100%;        
}                

.swiper-container {
    width: 100%;
    margin: 20px 0 0 0; 
    overflow: hidden; 
    position: relative;                 
}

.swiper-container:hover {
    transition: transform 0.9s ease;
    transform: scale(1.11);
}

.swiper-container img {
    vertical-align: middle;
}

.swiper-wrapper img {
    vertical-align: middle;
}

.swiper-slide {
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border: 1px solid #000000;    
}

.icons2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    padding: 30px 0 20px 0; 
    gap: 0;
}

.icons2 > div{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 5px;              
}

.icons2 span {
    font-size: clamp(10px, 1.5vw, 10px);
    font-weight: 700;    
    font-family: 'Fantasy', serif;   
    color:#BE8B06; 
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    padding: 5px 3.5vw 0 3.5vw;     
}

.icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.icons img {
    height: clamp(30px, 5vw, 50px);
    box-shadow: none;
        padding: 5px 0 0px 0;   
}

.icons span {
    font-size: 10px;
    font-weight: 700;
    font-family: 'Fantasy'; 
    color: #BE8B06;
}

h1 {
    font: 24px Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font: 24px Arial, sans-serif;
    color: #BE8B06;
    border-bottom: 1px solid #C4AE7C;
    margin: 0;
    font-family: 'Fantasy', serif;
    padding: 0 15% 0 15%; 
}

h3 {
    margin: 0;
    font: 18px arial, sans-serif;
    color: #BE8B06;
    border-bottom: 1px solid #C4AE7C;
    padding-top: 8px;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Fantasy', serif;
}

 h4 {
    font: 14px arial, sans-serif;  
    color: #BE8B06;
    border-bottom: 1px solid #C4AE7C;
    margin: 0 15px 0 0;    
    text-align: center;
    font-family: 'Fantasy', serif;
    margin: 24px 4.5vw 0 3.5vw; 
}

.star {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    margin: 0 0 0 0; 
    padding: 22px 0 10px 0;
}

.star img  {
    width: 20px;
    height: 20px;
    object-fit: contain;
    box-shadow: none;
}

.welcome {
    margin-bottom:20px;
    color: #BE8B06;   
}

.pricelist {
    width: 100%;
    padding: 0 3.5vw 0 3.5vw;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #C4AE7C;
    text-align: center;
    font-weight: bold;
    color: #000;
}

th {
    background: #dbdbdb;
}

td {
    background: #eee;
}
 
li {
    color: #BE8B06;
}

.calendar,
.calendarsunset {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position:relative;
}

.month,
.monthsunset {
    background-color: #d3cdbd;
    text-align: center;
    height: 120px;
    border: 4px solid #978966;
}

.month ul,
.monthsunset ul {
    list-style: none;
    color: #000000!important;
}

.month ul li,
.monthsunset ul li  {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.prev,
.next {
    background-color: #00000019;
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    margin-top: 12px;
    border-top: 3px solid #978966;
    border-bottom: 3px solid #978966;
}

.prev {
    position: absolute;
    border-radius: 0 6px 6px 0;
    padding: 5px 10px 5px 10px;
    left: 0;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 6px 0 0 6px;
    right: 0;
    padding: 5px 10px 5px 10px;    
}

.prev a,
.next a {
    font-size: 26px;
}

.prev:hover,
.next:hover {
    background-color: #0000004D;
    box-shadow: 0 0 5px #FEAD15;
}

.days {
    border-left: 4px  solid #978966;
    border-right: 4px  solid #978966;    
    width: 100%;
    height: 227px;
    background-color:  #eee;
    padding: 10px 0 0 5px;
}
   
.days li  {
    display: inline-block;
    width: 13.8%;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 11px;
    background-color:#d9d8d8ee;
    height: 25px;
}

li.act {
    background-color: #FF5F1F;
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.odl {
    background: linear-gradient(to right,  #FF5F1F  35%,#ccb587 50%);
    border: 1px solid;
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.dol {
    background: linear-gradient(to right,#ccb587 50%, #FF5F1F 66%);
    border: 1px solid; 
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.empty {
    background-color: #eee;
    color: #eee;
    padding-top: 3px;
}

li.day {
    border: 1px solid;
    padding-top: 3px;
    color: #7c5a05;
    margin-bottom: 10px;
    border-color: #986f08;
    background-color: #d3ad62;
}

li.free {
    border: 1px solid;
    color: #986f08;
    border-color: #986f08;
    background-color: #ccb587;
    padding-top: 3px;
}

.red {
    text-align: center;
    width: 100%
}

.red p {
    color: #FF5F1F;
}

.galleriesb {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
    margin: 10px 3.5vw 0 3.5vw;    
}

.galleries {
    margin: 20px 3.5vw 0 3.5vw; 
}

.linkovi {
   padding-top: 20px;
}

.slide:hover,
.slideb:hover {
    transition: transform 0.5s ease;    
    transform: scale(1.05);
}

.slide,
.slideb {      
    overflow: hidden;
    position: relative;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);
    aspect-ratio: 3/2;  
}

.slide {      
    width: 22vw;
    margin-bottom: 20px;     
}

.slideb {      
    width: 22vw;
}

.slideb>div,
.slide>div {
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    animation: slide 16s infinite;
    opacity: 0;
}

.mySlides img {
    width: 100%;
    height: auto;
    display: block;
}

.mySlides:first-child {
    display: block;
}

.slide>div:nth-child(2),
.slideb>div:nth-child(2) {
    animation-delay: 2s;
}

.slide>div:nth-child(3),
.slideb>div:nth-child(3) {
    animation-delay: 4s;
}

.slide>div:nth-child(4),
.slideb>div:nth-child(4)  {
    animation-delay: 6s;
}

.slide>div:nth-child(5),
.slideb>div:nth-child(5) {
    animation-delay: 8s;
}

.slide>div:nth-child(6),
.slideb>div:nth-child(6)  {
    animation-delay: 10s;
}

.slide>div:nth-child(7),
.slideb>div:nth-child(7) {
    animation-delay: 12s;
}

.slide>div:nth-child(8),
.slideb>div:nth-child(8) {
    animation-delay: 14s;
}

@keyframes slide {

    10%,
    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        transform: scale(1.3, 1.3);
    }
}

.navlocation {
    width: 4vw;
    padding: 0 0 5px 0;
    margin-top: 7vh;
}

.numbertext {
    color: #ffffff;
    font-size: 18px;
    padding: 140px 0 0 10px;
    position: absolute;
    font-weight: bold;
    -webkit-text-stroke: 0.02em rgb(0 , 0, 0); 
}

.backward,
.forward {
    background-color:#84838333;
    cursor: pointer;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: white;
    z-index: 10;
    width: 80px;
    padding: 8px 30px 8px 30px;
    margin: -50px 0 0 0;
    font-size: 35px;
}
.backward {
    right: 0;
    border-radius: 6px 0 0 6px;
}

.forward {
    left: 0; 
    border-radius: 0 6px 6px 0;
}

.backward:hover,
.forward:hover {
    background-color:#00000066;
}

.backward,
.forward {
    -webkit-user-select: none; 
    -ms-user-select: none;       
    user-select: none;
}

.homepic {
    padding: 15px 0 15px 0;
}

.homepic img {
    border: 1px solid #52aacd;
    border-radius: 1%;
}

.homepic img.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    object-fit: cover;
    box-sizing: border-box;
}

.homepic img:hover:not(.full) {
    transition: transform 0.9s ease;
    transform: scale(1.05);
}

.locpic {
    margin: 0 3.5vw 10px 3.5vw; 

}

.locpic img {
    overflow: hidden;
    position: relative;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45); 
}

.locpic img.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    object-fit: cover;
    box-sizing: border-box;
}

.locpic img:hover:not(.full) {
    transition: transform 0.9s ease;
    transform: scale(1.05);
}

.linkovi {
    width: 100%;  
    text-align: center;
    font-weight: bold;
    color: #f0e4c4;
    display: block;
    position: relative;
    padding: 0.1em 0;
    font-family: 'Fantasy', serif;   
    font-size: 14px;
    color:#BE8B06;
    margin: 5px 0 5px 0;
}

.linkovi::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #BE8B06;
  opacity: 0;
  transition: opacity 800ms, transform 300ms;     
}

.linkovi::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.linkovi:hover::after,
.linkovi:focus::after{
    transform: scale(1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 21px;
    width: 100%;
    padding: 37px 0 19px 0;
}  

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.1s;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);
}

.gallery img:hover:not(.full) {
   transform: scale(1.2);
}

.gallery img.full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: 0.3s ease;
}

.maps p {
    padding-top: 10px;
    color: #BE8B06;
}

.totop {
   width: 100%;
   text-align: center;
   padding: 10px 0 10px 0;
}

#map {
  width: 100%;
  height: 355px;
  border: 2px solid #C4AE7C;
  margin-top: 18px;
  position: sticky;
}

iframe {
    width: 100%;
        height: 400px;
    border: 0;
    overflow-x: hidden; 
    overflow-y: hidden;
    margin: 0;
}
.maprouter {
    width: 100%;
    height: 400px;
    text-align: right;
    position: relative;  
}

.gmap_canvas {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;      
}

 .gmap_iframe {
    height:400px!important;
}


@media (max-width: 1024px) {  

.backward,
.forward,
.backward-is-active,
.forward-is-active {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 5px 10px 5px 10px;
    margin: -50px 28px 0 28px;
    background-color: transparent; 
    border-bottom: 0;
    border-top: 0;
    height: 100%;
    width: 100%;
}

.backward:hover,
.forward:hover {
    background-color: transparent;
}

.numbertext {
    padding: 100px 0 0 50px;
}             

h4 {
    font: 14px Arial, sans-serif;
    font-weight: bold;
}

.swiper-container:hover {
    transition: transform 0.9s ease;
    transform: scale(1.11);
}
}

@media (max-width: 830px) {

.wrappersurroundings,
.wrapperpula,
.wrapperlocation,   
.wrappersunset,
.wrappersunrise {   
    padding: 0 0 0 0;
}   

.left-section,
.left-sectionl,
.right {
    flex: 1 1 100%;
    padding: 0 3vw;
    padding: 0 3.5vw 0 4vw;     
}

.logo p {
    border-top: 1px solid #C4AE7C;
}

.logo,
.title {
    padding: 0 0 0 0;
}

.right-section {
    padding: 0 3.5vw 0 4vw;    
    margin: 0 0 0 0;
    flex: 1 1 56%;
}

.textleft {
    width: 100%;
    color: #BE8B06;
    padding: 0 0px 0 0px; 
}

.logo {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 25vw 0 25vw
}

.galleriesb {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px; 
    max-width: 100%;
    padding-top: 0;
    margin-top: 0;
}

.slideb {
    width: 100%;
    height: auto;        
    aspect-ratio: 3/2;
}

.slideb:hover {
    transform: scale(1.05);
}

.swiper-container:hover {
    transition: transform 0.9s ease;
    transform: scale(1.08);
}

.textlefthome  {
   text-align: center;
   width: 100%;
}

.textlefthome img {
    border: none;
    box-shadow: none;
    padding: 10px 0 0 0;
    margin: 0 0 0 0;
    width: 6vw;
}

.icons2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    margin: 20px 3.5vw 10px 3.5vw; 
    row-gap: 10px;   
}

.pricelist {
    width: 100%;
    padding: 0 3.5vw 0 4.1vw;
}

.flags {
    padding-top: 0;
}

.flag-list img {
    height: 3vw; 
}

.gallery img {
    width: 100%;
}

h1 {
    font: 18px Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font: 18px ;
    padding: 0 3.5vw 0 3.5vw; 
}

h3 {
    padding-top: 15px; 
}

h4 {
    margin: 24px 0 0 0; 
}

.backward,
.forward {
    font-size: 16px;
    padding: 10px;
}

.month ul li,
.monthsunset ul li  {
    font-size:13px;
}

.days {
    padding :10px  10px 0 10px;
}

.days li {
    width: 13%;
}

.nav {grid-template-columns: repeat(2, 1fr);  
}

.icons {
    grid-template-columns: repeat(4, 1fr);
    padding: 5px 3.5vw 0 3.5vw;     
}

.galleries,
.nav,
.locpic {
    display:none
}

.icons2 img,
.totop img {
    border-radius: 50%;
    border: 2px solid #C4AE7C;
    width: 30px; 
}

.calendar,
.calendarsunset {
    margin: 20px 0 0 0;
   box-shadow: none;
}

.homepic img {
   text-align:center;
   border: none;
}
   
.star {
    padding: 10px  0 5px 0;;
}

.title p {
    margin: 0 0 0 0;
}

}

 @media (min-width: 768px) {
  .mySwiper,
  .mySwiper * {
    cursor: auto !important;
  }
} 

.swiper a {
    pointer-events: auto;
  }

@media (max-width: 768px) {

.contact-grid img {
    width: 7vw;
}    

.nav {
    display: none;
}

.icons2 {grid-template-columns: repeat(3, 1fr);  
}

.forward,
.backward {
    display: none;
 }

 .numbertext {
    color: #ffffff;
    font-size: 18px;
    padding: 30px 0 0 45px;
    position: absolute;
}

.gallery img {
    width: 100%;
}

.backward,
.forward {
    font-size: 16px;
    padding: 10px;
}

.month ul li,
.monthsunset ul li  {
    font-size:13px;
}

.days {
    padding :10px  10px 0 10px;
}

.days li {
    width: 13%;
}

.textlefthome {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.textlefthome  img{
    padding: 10px 0 0 0;
}

.homepic {
   text-align:center;
}

.star {
    padding-top: 5%;
}
}

@media (max-width: 550px) {

.gallery{
    display: none;
}
}
 

