

html, body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font: 11px Verdana, sans-serif;    
    overflow-y: scroll;
    color: #BE8B06;
    border: #BE8B06;       
}

ul {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3.5px solid;
}

a {
    text-decoration: none;
    color: #ffffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapperhome,
.wrappersunrise,
.wrappersunset,
.wrappersurroundings,
.wrapperpula,
.wrapperlocation {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    margin: 0 3.5 0 3.5;
}

.wrappersurroundings,
.wrapperpula,
.wrapperlocation,   
.wrappersunset,
.wrappersunrise {   
    padding: 20px 0 0 0;
}

.left-section {
    flex: 1 1 20%;
}

.left-sectionl {
    flex: 1 1 30%;
}

.right,
.right-section {
    flex: 1 1 60%;
    margin-right: 3.5vw;
}

.logo {
    padding: 0 2vw 0 3.5vw;
    text-align: center;
    width: 30vw;
}

.logo p {
    border-bottom: 1px solid;
    font-weight: bold;
    padding: 1px; 
    letter-spacing: 0.2em;
    margin-top: 0;
}

.title {
    font: 22px Arial, sans-serif;
    text-align: center;
    font-family:'Cinzel', serif; 
    padding: 0 2.5vw 0 3.5vw;       
}

.title p {
    border-bottom: 1px solid;
    margin: 0 15px 0 0;
    padding: 1px;
} 

.surroundingsp p,
.pulap p {
    padding: 10px 0 0 0;
}

.textlefthome {
    text-align: center;
}

.textlefthome img {
    padding: 10vh 3.5vw 0 0;
    width: 15vw;
}

.textleft  p{
    padding: 0 3.5vw 0 3.5vw; 
}

.flags {
    text-align: center;
    padding: 5px 0 0 3.5vw;
}

.flag-list > li {
    width: 15%;      
}

.flag-list ul {
    height: 40px;
    text-align: center;   
}

.flags ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.flag-list img {
    width: 4.5vw;
    height: 3.5vw;
    border-radius: 50%; 
}

.flag-list img:hover {
    transform: scale(1.6);  
}

.icons2 img,
.totop img {
    border-radius: 50%;
    border: 2px solid #ca8f06;
    width: 30px; 
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);    
}

.icons2 img:hover,
.totop img:hover {
    box-shadow: 0 0 10px #FEAD15;
    transition: transform 0.3s ease;
    transform: scale(1.34);      
}

.swiper-wrapper {
    width: 100%;        
}                

.swiper-container {
    width: 100%;
    margin: 25px 0 0 0; 
    overflow: hidden; 
    position: relative;                 
}

.swiper-container:hover {
    transition: transform 0.9s ease;
    transform: scale(1.09);
}

.swiper-container img {
    vertical-align: middle;
}

.swiper-wrapper img {
    vertical-align: middle;
}

.swiper-slide {
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border: 1px solid #000000;    
}

.icons2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    padding: 30px 0 20px 0; 
    gap: 0;
}

.icons2 > div{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 5px;              
}

.icons2 span {
    font-size: clamp(10px, 1.5vw, 10px);
    font-weight: 700;    
    font-family: 'Fantasy', serif;   
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    padding: 10px 3.5vw 0 3.5vw;     
}

.icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.icons img {
    height: clamp(30px, 5vw, 50px);
    box-shadow: none;
        padding: 5px 0 0px 0;   
}

.icons span {
    font-size: 10px;
    font-weight: 700;
    font-family: 'Fantasy'; 
}

h1 {
    font: 24px Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font: 24px Arial, sans-serif;
    border-bottom: 1px solid;
    margin: 0;
    font-family: 'Fantasy', serif;
    padding: 0 15% 0 15%; 
}

h3 {
    margin: 0;
    font: 18px arial, sans-serif;
    padding-top: 8px;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Fantasy', serif;
}

h4 {
    font: 14px arial, sans-serif;  
    border-bottom: 1px solid;
    margin: 0 15px 0 0;    
    text-align: center;
    font-family: 'Fantasy', serif;
    margin: 24px 4.5vw 0 3.5vw; 
}

.star {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    margin: 0 0 0 0; 
    padding: 22px 0 10px 0;
}

.star img  {
    width: 20px;
    height: 20px;
    object-fit: contain;
    box-shadow: none;
}

.welcome {
    margin-bottom:20px;
    padding-left: 1.5vw;   
}

.pricelist {
    width: 100%;
    padding: 0 3.5vw 0 3.5vw;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    text-align: center;
    font-weight: bold;
}

th {
    background: #dbdbdb;
}

td {
    background: #eee;
}

.calendar,
.calendarsunset {
    width: 100%;
    height: 59vh;
    overflow: hidden;
    position:relative;
    margin: 20px 0 0 0;
    border: 2px solid;
}

h5 {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 14px;
}  

.month,
.monthsunset {
    background-color: #d3cdbd;
    text-align: center;
    height: 15vh;
    border-bottom: 2px solid;
    Margin: 0 0 0 0;
}

.month ul,
.monthsunset ul {
    list-style: none;
}

.month ul li,
.monthsunset ul li  {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.prev,
.next {
    background-color: #00000019;
    font-weight: bold;
    margin-top: 10px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.prev {
    position: absolute;
    left: 0;
    border-radius: 0 6px 6px 0;
    padding: 5px 10px 5px 10px;
}

.prev a,
.next a {
    font-size: 25px;
    color: #ffffff;    
}

.next {
    position: absolute;
    right: 0;
    border-radius: 6px 0 0 6px;
    padding: 5px 10px 5px 10px;
}

.prev:hover,
.next:hover {
    background-color:#0000004D;
}

.days {    
    width: 100%;
    height: 50vh;
    background-color:  #eee;
    margin: 0 0 0 0;
    padding: 10px 0 0 1vw;
    text-align: left;
}
  
.days li  {
    display: inline-block;
    width: 8.8vw;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 11px;
    background-color:#d9d8d8ee;
    height: 4.2vh;
        color: #000000;

}

li.act {
    background-color: #FF5F1F;
    padding-top: 3px;
    border: 1px solid;
}

li.odl {
    background: linear-gradient(to right,  #FF5F1F  35%,#ccb587 50%);
    border: 1px solid;
    padding-top: 3px;
}

li.dol {
    background: linear-gradient(to right,#ccb587 50%, #FF5F1F 66%);
    border: 1px solid; 
    padding-top: 3px;
}

li.empty {
    background-color: #eee;
    color: #eee;
    padding-top: 3px;
    border: 1px solid;
}

li.day {
    border: 1px solid;
    padding-top: 3px;
    margin-bottom: 10px;
    background-color:#d9d8d8ee;
    background-color: #d3ad62;
}

li.free {
    border: 1px solid  #000000;
    background-color: #eddcb9;
    padding-top: 3px;
}

.red {
    text-align: center;
    width: 100%
}

.red p {
    color: #FF5F1F;
}

.galleriesb {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 10px;
    width: 100%;
    margin: 10px 3.5vw 0 3.5vw;    
}

.galleries {
    margin: 20px 3.5vw 0 3.5vw; 
}

.linkovi {
   padding-top: 20px;
}

.slide:hover,
.slideb:hover {
    transition: transform 0.5s ease;    
    transform: scale(1.05);
}

.slide,
.slideb {      
    overflow: hidden;
    position: relative;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);
    aspect-ratio: 3/2;  
}

.slide {      
    width: 22vw;
    margin-bottom: 15px; 
}

.slideb {      
    width: 22vw;
    margin-bottom: 20px;        
}

.slideb>div,
.slide>div {
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    animation: slide 16s infinite;
    opacity: 0;
}

.mySlides img {
    width: 100%;
    height: auto;
    display: block;
}

.mySlides:first-child {
    display: block;
}

.slide>div:nth-child(2),
.slideb>div:nth-child(2) {
    animation-delay: 2s;
}

.slide>div:nth-child(3),
.slideb>div:nth-child(3) {
    animation-delay: 4s;
}

.slide>div:nth-child(4),
.slideb>div:nth-child(4)  {
    animation-delay: 6s;
}

.slide>div:nth-child(5),
.slideb>div:nth-child(5) {
    animation-delay: 8s;
}

.slide>div:nth-child(6),
.slideb>div:nth-child(6)  {
    animation-delay: 10s;
}

.slide>div:nth-child(7),
.slideb>div:nth-child(7) {
    animation-delay: 12s;
}

.slide>div:nth-child(8),
.slideb>div:nth-child(8) {
    animation-delay: 14s;
}

@keyframes slide {

    10%,
    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        transform: scale(1.3, 1.3);
    }
}

.navlocation {
    width: 4vw;
    padding: 0 0 5px 0;
    margin-top: 7vh;
}

.numbertext {
    color: #ffffff;
    font-size: 18px;
    padding: 140px 0 0 10px;
    position: absolute;
    font-weight: bold;
    -webkit-text-stroke: 0.02em rgb(0 , 0, 0); 
}

.backward,
.forward {
    background-color:#84838333;
    cursor: pointer;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: white;
    z-index: 10;
    width: 30px;
    padding: 8px 30px 8px 30px;
    margin: -50px 0 0 0;
    font-size: 35px;
}
.backward {
    right: 0;
    border-radius: 6px 0 0 6px;
}

.forward {
    left: 0; 
    border-radius: 0 6px 6px 0;
}

.backward:hover,
.forward:hover {
    background-color:#00000066;
}

.backward,
.forward {
    -webkit-user-select: none; 
    -ms-user-select: none;       
    user-select: none;
}

.homepic {
    padding: 15px 0 15px 0;
}

.homepic img {
    border: 1px solid #52aacd;
    border-radius: 1%;
}

.homepic img.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    object-fit: cover;
    box-sizing: border-box;
}

.homepic img:hover:not(.full) {
    transition: transform 0.9s ease;
    transform: scale(1.05);
}

.locpic {
    margin: 0 3.5vw 10px 3.5vw; 
}

.locpic img {
    overflow: hidden;
    position: relative;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45); 
}

.locpic img.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    object-fit: cover;
    box-sizing: border-box;
}

.locpic img:hover:not(.full) {
    transition: transform 0.9s ease;
    transform: scale(1.05);
}

.linkovi {
    width: 100%;  
    text-align: center;
    font-weight: bold;
    color: #f0e4c4;
    display: block;
    position: relative;
    padding: 0.1em 0;
    font-family: 'Fantasy', serif;   
    font-size: 14px;
    margin: 5px 0 5px 0;
    color: #BE8B06;
}

.linkovi::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #BE8B06;
  opacity: 0;
  transition: opacity 800ms, transform 300ms;     
}

.linkovi::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.linkovi:hover::after,
.linkovi:focus::after{
    transform: scale(1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 21px;
    width: 100%;
    padding: 37px 0 19px 0;
}  

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.1s;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);
}

.gallery img:hover:not(.full) {
   transform: scale(1.2);
}

.gallery img.full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: 0.3s ease;
}

.maps p {
    padding-top: 10px;
}

.totop {
   width: 100%;
   text-align: center;
   padding: 10px 0 10px 0;
}

#map {
  width: 100%;
  height: 355px;
  border: 1px solid;
  margin-top: 18px;
  position: sticky;
}

iframe {
    width: 100%;
        height: 400px;
    border: 0;
    overflow-x: hidden; 
    overflow-y: hidden;
    margin: 0;
}
.maprouter {
    width: 100%;
    height: 400px;
    text-align: right;
    position: relative;  
}

.gmap_canvas {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;      
}

 .gmap_iframe {
    height:400px!important;
}


@media (max-width: 1024px) {  

.backward,
.forward,
.backward-is-active,
.forward-is-active {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 5px 10px 5px 10px;
    margin: -50px 28px 0 28px;
    background-color: transparent; 
    border-bottom: 0;
    border-top: 0;
    height: 100%;
    width: 100%;
}

.backward:hover,
.forward:hover {
    background-color: transparent;
}

.numbertext {
    padding: 100px 0 0 50px;
}             

h4 {
    font: 14px Arial, sans-serif;
    font-weight: bold;
}

.days li  {
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 11px;
    height: 4.2vh;
}

.swiper-container:hover {
    transition: transform 0.9s ease;
    transform: scale(1.09);
}
}

@media (max-width: 830px) {

.wrappersurroundings,
.wrapperpula,
.wrapperlocation,   
.wrappersunset,
.wrappersunrise,
.wrapperhome {   
    padding: 0 0 0 0;
}   

.left-section,
.left-sectionl {
    flex: 1 1 100%;
    width: 100vw;
    padding: 0 3.5vw 0 0;             
}

.left-sectionlogo {
    flex: 1 1 90%;
    width: 90vw;
    padding: 0 3.5vw 0 4vw;             
}

.logo {
    width: 90vw;
    padding: 0;
    margin:0;
}

.logo p {
    margin-bottom: 0;
}

.title {
    font-size: 22px;
    font-family:'Cinzel', serif; 
    padding: 0 0 0 3.5vw; 
    margin: 0 0 0 0;      
}

.title p{

    padding: 0 0 0 0; 
    margin: 0 0 0 0;      
}


.homepic {
    margin: 0 0 0 3.5vw;
}

.right {
    padding: 0 3.5vw 0 4vw;    
    margin: 0 0 0 0;
    flex: 1 1 100%;
    width: 100%;
}

.textleft {
    width: 100%;
    padding: 0 0 0 3px; 
    margin: 0 0 0 0;    
}

.galleriesb {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px; 
    max-width: 100%;
    padding-top: 0;
    margin-top: 0;
}

.slideb {
    width: 100%;
    height: auto;        
    aspect-ratio: 3/2;
    margin-bottom: 10px;
}

.slideb:hover {
    transform: scale(1.05);
}

.swiper-container:hover {
    transition: transform 0.9s ease;
    transform: scale(1.07);
}

.textlefthome  {
   width: 100%;
}

.textlefthome img {
    padding: 10px 0 0 0;
    width: 6vw;
}

.pricelist {
    width: 100%;
    padding: 0 3.5vw 0 4.1vw;
}

.flags {
    padding: 0 0 0 3.5vw;
}

.flag-list {
   width: 95%; 
   padding: 0 0 0 7vw;
}

.flag-list img {
    height: 5vw;
    width: 10vw; 
}

.flag-list > li {
    width: 15%;      
}

.gallery img {
    width: 100%;
}

h1 {
    font-size: 18px;
}

h2 {
    font: 18px ;
    margin: 0 0 0 3.5vw; 
}

h3 {
    padding-top: 15px; 
}

h4 {
    margin: 24px 0 0 3.5vw; 
}

h5 {
    padding: 5px 0 0 0;
    font-size: 10px; 
}

.calendar,
.calendarsunset {
    width: 100%;
    height: 45vh;
}

.month,
.monthsunset {
   height: 10vh;
}

.month ul,
.monthsunset ul {

    margin:0;
}

.prev a,
.next a {
    font-size: 15px;
}

.days {   
    width: 100%;
}
   
.days li  {
    font-size: 10px;
    height: 3vh;
    width: 13%;
}

.icons {
    grid-template-columns: repeat(4, 1fr);
    padding: 5px 0 0 3.5vw; 
    column-gap: 8px;       
}

.icons span {
    font-size: 10px;
}

.galleries,
.locpic {
    display:none
}

.backward,
.forward {
    font-size: 16px;
    padding: 10px;
}

.star {
    padding: 10px  0 5px 0;;
}

#map {
  height: 230px;
  position: sticky;
}

iframe {
    height: 230px;
}

.maprouter {
    height: 230px;
    text-align: right;
    position: relative;  
}

.gmap_canvas {
    height: 230px;  
}

 .gmap_iframe {
    height:230px!important;
}

.welcome {
    margin-bottom:20px;
    padding-left: 0;   
}

}

 @media (min-width: 768px) {
  .mySwiper,
  .mySwiper * {
    cursor: auto !important;
  }
} 

.swiper a {
    pointer-events: auto;
  }

@media (max-width: 768px) { 


.icons2 {grid-template-columns: repeat(3, 1fr);  
}

.forward,
.backward {
    display: none;
 }

.numbertext {
    padding: 30px 0 0 45px;
}
}

@media (max-width: 450px) {

.gallery {
    display: none;
}

.calendar,
.calendarsunset {
    height: 41vh;
}

h5 {
   font-size: 8px;
   padding-top: 10px;
}

.days li  {
    font-size: 10px;
    height: 2.5vh;
    width: 12.1%;
}
}
 

