html,
body,
li, 
ul {
    margin: 0;
    padding: 0;
}

*,  *::before, *::after {
    box-sizing: border-box;
}

body { 
    font: 11px Verdana, sans-serif;
    position: relative;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width:10px;

    position: absolute;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ada996;
    border: 3px solid  #978966;
}     

body::-webkit-scrollbar-thumb:hover{
    border-radius: 5px;
    background: white;
    border: 3px solid  #978966;
} 

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    padding: 2px 0 0 8%;
    text-align: center;
    flex: 1 1 30%;
    color: white;
    background: rgba(191, 191, 191, 0.3);    
}

.logo p {
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin: 0 25px 0 25px;
    color: white;
}

.logo img {
    width: 50px;
    height: 50px;
}

p  {
    color: #BE8B06;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    width: 85%;
}

.title {
    width: 100%;
    text-align: center;
    font: 18px Arial, sans-serif;
    width: 100%;   
    margin:0 30px 0 30px;
}

.title p {
  display: block;
  position: relative;
  padding: 0.1em 0;
}

.title p::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color:  #BE8B06;
  opacity: 0;
  transition: opacity 800ms, transform 300ms;
}

.title p::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.title p:hover::after,
.title p:focus::after {
    transform: scale(1);
}

.linkovi {
    width: 100%;    
    background: rgba(191, 191, 191, 0.3);   
}

.linkovi table {
    width: 100%;
    text-align: center;
}  

.linkovi td {
    width: 20%;
    text-align: center;
    height: 16px; 
    padding: 0 40px 0 40px;      
}

.linkovi a {
    display: block;
    position: relative;
    padding: 0.1em 0;
}

.linkovi a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 800ms, transform 300ms;
}

.linkovi  a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.linkovi  a:hover::after,
.linkovi  a:focus::after{
    transform: scale(1);
}

.textsunrise,
.textsunset,
.textwelcome,
.textpula,
.textsurroundings, 
.textlocation  {
    padding: 0 23px 0 27px;
}

.flags {
    display: flex;
    flex: 1 1 70%;
    justify-content: flex-end;
    padding: 5px  10px 0 0;
    align-items:start;
    background: rgba(191, 191, 191, 0.3);
}

.flags table {
    border-radius: 2%;
    text-align: center;
}

.flags td {
    width: 35px;
    text-align: center;
}

.flags img,
.links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 6px 4px #00000073;
}

.links img {
    border: 1px solid #ffffff;
}

.flags img {
    border: 2px solid #BE8B06;
}

.flags img:hover,
.links img:hover,
.links2 img:hover,
.navlocation img:hover,
.totop img:hover {
    transform: scale(1.3);
}

.welcome {
    padding: 0 30px 0 28px;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 21px;
    width: 100%;
}

.gallery img {
    height: auto;
    object-fit: cover;
    transition: transform 0.1s;
}

.gallery img:hover {
   transform: scale(1.2);
}

.icons table {
    width: 100%;
}

.icons td{ 
    height: auto;
    width: 16.6%;
}

.icons img{ 
    height: 30px;
}

.icons {
    text-align: center;
    width: 100%;
    color: #978966;
    display: block;
    position: relative;
    padding: 0.1em 0;    
    margin: 0 30px 0 30px;
}

.icons:hover {
    border-bottom: 1px solid #BE8B06;
}

.icons::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color:  #BE8B06;
    opacity: 0;
    transition: opacity 800ms, transform 300ms;
}

.icons::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.icons:hover::after,
.icons:focus::after {
    transform: scale(1);
}

.links {
    display: flex;
    flex: 1 1 14%;
    padding: 0 0 0 0;
    align-items:start;
    background: rgba(191, 191, 191, 0.3); 
    margin: 0 0 0 0;
}

.links td {
    color: #ffffff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
    font-weight: bold;
}

.links2 {
    width: 100%;
    padding: 10px 0 20px 0;
    margin: 0;
}

.links2 table {
    width: 100%;
}

.links2 td {
    color: #BE8B06;
    text-align: center;
    width: 12.5%;
    padding-bottom: 5px;
    font-size: 8px;
}

.links2 img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 6px 4px #00000073;
    border: 1px solid white;
}

.zz {
    width: 100%; 
    padding-top: 30% ;
}

.zz img {
    width: 65px;
    height: 50px;
    border-radius: 20%;
    border: 2px solid #ffffff;
}

.zz table {
    background: rgba(191, 191, 191, 0.3);
    width: 100%;     
}

.zz td {
    text-align: center;
    color: #ffffff;
    padding: 0 0 0 0;
    width: 12%;
}

h1 {
    font: 20px Arial, sans-serif;
    margin: 0;
}

h2 {
    font: 18px Arial, sans-serif;
    color: #BE8B06;
    border-bottom: 1px solid #BE8B06;
    margin: 0 30px 0 30px; 
    text-align: center;
    width: 100%;
}

h3 {
    font: 14px Arial, sans-serif;
    color: #BE8B06;
    border-bottom: 1px solid #BE8B06;
    margin: 15px 0px 5px 0; 
    text-align: center;
}

h4 {
    font: 14px Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;;
    margin: 0;
    text-align: center;
    padding-bottom: 2px;
}

.star {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    padding: 15px 25px 10px 0; 
}

.star img {
    width: 25px;
    height: 25px;
}

.pricelist {
    width: 100%;
    padding: 0 26px 15px 26px;
    -webkit-font-smoothing: antialiased;
}

.pricelist table {
    width: 100%;
    border: 1px solid #C4AE7C;
}

.cjenik {
    margin-top: 15px;
}

.cjenik th,
.cjenik td {
    text-align: center;
    border: 1px solid #C4AE7C;
}

.cjenik th {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #BE8B06 !important;
    color: rgb(190, 139, 6) !important;
    background-color: #dbdbdb;
    width: 33%;
}

.cjenik td {
    -webkit-font-smoothing: antialiased;
    color: #BE8B06 !important;
    color: rgb(190, 139, 6) !important;
    background-color: #eee;
    width: 33%;
    font-size:12px;
    font-weight: bold;
}

.calendar,
.calendarsunset {
    width: 94.5%;
    height: 350px;
    overflow: hidden;
    position:relative;
    margin: 10px 0 0 29px;
}

.month,
.monthsunset {
    background-color: #d3cdbd;
    text-align: center;
    height: 120px;
    border: 4px solid #978966;
}

.month ul,
.monthsunset ul {
    list-style: none;
    color: #BE8B06 !important;
}

.month ul li,
.monthsunset ul li  {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.prev,
.next {
    background-color: #00000019;
    font-weight: bolder;
    margin-top: 10px;
    border-top: 3px solid #978966;
    border-bottom: 3px solid #978966;
}

.prev {
    position: absolute;
    left: 0;
    border-radius: 0 6px 6px 0;
    padding: 5px 10px 5px 10px;
}

.prev a,
.next a {
    font-size: 25px;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 6px 0 0 6px;
    padding: 5px 10px 5px 10px;
}

.prev:hover,
.next:hover {
    background-color:#0000004D;
}

.days {
    border-left: 4px  solid #978966;
    border-right: 4px  solid #978966;    
    width: 100%;
    height: 227px;
    background-color:  #eee;
    padding: 10px 0 0 5px;
}
   
.days li  {
    display: inline-block;
    width: 13.8%;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 11px;
    background-color:#d9d8d8ee;
    height: 25px;
}

li.act {
    background-color: #FF5F1F;
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.odl {
    background: linear-gradient(to right,  #FF5F1F  35%,#ccb587 50%);
    border: 1px solid;
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.dol {
    background: linear-gradient(to right,#ccb587 50%, #FF5F1F 66%);
    border: 1px solid; 
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.empty {
    background-color: #eee;
    color: #eee;
    padding-top: 3px;
}

li.day {
    border: 1px solid;
    padding-top: 3px;
    color: #7c5a05;
    margin-bottom: 10px;
    border-color: #986f08;
    background-color: #d3ad62;
}

li.free {
    border: 1px solid;
    color: #986f08;
    border-color: #986f08;
    background-color: #ccb587;
    padding-top: 3px;
}

.red {
      text-align: center;
      width: 100%
}

.red p {
    color: #FF5F1F;
}

.galleries {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
    width: 100%;
    padding: 0 28px  19px 30px;
}

.slide {
    margin: 19px 0 19px 0; 
    overflow: hidden;
    position: relative;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);
    aspect-ratio: 3/2; 
}

.slide:hover {
    transform: scale(1.1);
}

.slide>div {
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    animation: slide 16s infinite;
    opacity: 0;
}

.slide>div:nth-child(2) {
    animation-delay: 2s;
}

.slide>div:nth-child(3) {
    animation-delay: 4s;
}

.slide>div:nth-child(4) {
    animation-delay: 6s;
}

.slide>div:nth-child(5) {
    animation-delay: 8s;
}

.slide>div:nth-child(6) {
    animation-delay: 10s;
}

.slide>div:nth-child(7) {
    animation-delay: 12s;
}

.slide>div:nth-child(8) {
    animation-delay: 14s;
}

@keyframes slide {

    10%,
    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        transform: scale(1.3, 1.3);
    }
}

.container-dimensions {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 27px 28px 15px 28px;
}

.container-dimensions:hover,
.container-dimensions-is-active {
    transition: transform 0.9s ease;   
    transform: scale(1.15);
}

.container-dimensions img {
    vertical-align: middle;
    border: 1px solid #988249;
}

.mySlides {
    display: none;
    padding-bottom: 25px;
}

.mySlides:first-child {
    display: block;
}

.mySlides img {
    width: 100%;
    height: auto;
    display: block;
}

.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 40px 0 0 12px;
    position: absolute;
}

.backward,
.forward {
    background-color:#00000033;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 10;
    width: auto;
    padding: 5px 10px 5px 10px;
    margin: -50px 28px 0 28px;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid #88774b;
    border-top: 3px solid #88774b;
}

.backward,
.forward {
    -webkit-user-select: none; 
    -ms-user-select: none;       
    user-select: none;
}

.backward {
    right: 0;
    border-radius: 6px 0 0 6px;
}

.forward {
    left: 0; 
    border-radius: 0 6px 6px 0;
}

.backward:hover,
.forward:hover {
    background-color:#00000066;
}

.homepic {
    padding: 16px 28px 5px 28px;
}

.homepic img {
    border: 1px solid #BE8B06;
}

.homepic:hover,
.homepic-active {
    transition: transform 0.9s ease;     
    transform: scale(1.10);
    padding: 20px 0 20px 0;
}                 

.maps  {
    padding: 0 10px 0 10px;
}

.maps p {
    margin: 0 33px 0 15px;
    padding: 1px;
    color: #BE8B06;
}

.mapsp {
    font: 18px Arial, sans-serif;
    text-align: center;
    width: 100%;
    color: #BE8B06;
    padding: 0 23px 0 30px;    
}

.google {
    padding-top: 11px;
    width: 100%;
    margin: 11px 25px 0px 25px;
}

iframe {
    width: 100%;
    aspect-ratio: 2/1; 
    border: 2px solid #C4AE7C;
}

iframe:hover {
    border: 2px solid #978966;
}

@media screen and (max-width: 1200px) {


.logo p {
    letter-spacing: 0.0em;
    margin: 0;
    padding: 0;
}

.logo img {
    display: none;
}

.zz {
    padding-top: 30%;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}

.ab {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    position: relative;
    width: 100%;
    padding: 0 0 0 0;
}

.icons { 
    text-align: center;
    width: 100%;
    padding: 0 20px 0 20px;
    color:  #BE8B06;
}

.icons table {
    width: 100%;
}

.icons td{ 
    height: auto;
    text-align: center;
}

.linkovi {
    padding-top: 5px;
}

.linkovi td {
    padding: 0 25px 0 25px;      
}

.calendar,
.calendarsunset {
    width: 94.5%;
    height: 350px;
    overflow: hidden;
    position:relative;
    margin: 10px 27px 0 30px;
}

.month ul li,
.monthsunset ul li  {
    font-size:13px;
}

.days {
    padding: 10px 0 5px 0;
    text-align: center;
}

.days li {
    width: 13%;
}

.homepic:hover,
.homepic-active {
    transition: transform 0.9s ease;     
    transform: scale(1.1);
}                 

}

@media screen and (max-width:1000px) {

.zz {
    padding-top: 30%;
}

.container-dimensions:hover,
.container-dimensions-is-active {
     transition: transform 0.9s ease;    
    transform: scale(1.20);
}               

.homepic:hover,
.homepic-active {
    transition: transform 0.9s ease;     
    transform: scale(1.13);
}                 

.links img {
    width:20px;
    height: 20px;
}

.zz img {
    width:50px;
    height: 40px;
}

h4 {
    font: 12px Arial, sans-serif;
    font-weight: bold;
}

.linkovi td {
    padding: 0 10px 0 10px;      
}
}

@media screen and (max-width: 800px) {

.logo {
    flex: 1 1 40%;
     padding-left: 15%;   
}   

.flags {
    flex: 1 1 60%;
}

.zz {
    padding-top:25%;
}

h4 {
    font: 10px Arial, sans-serif;
    font-weight: bold;
}

.linkovi td {
    padding: 0 0 0 0;      
}

.welcome {
    margin: 0;
    padding-bottom: 0;
}

.icons { 
    text-align: center;
    width: 100%;
    padding: 0 0 0 0;
    color:  #BE8B06;
    font-size: 8px;
}

.icons table {
    width: 100%;
}

.icons td{ 
    height: auto;
    width: 8.33%;
    text-align: center;
}

.icons img{ 
    width: 20px;
    height: 15px;
}

h4 {
    font: 10px Arial, sans-serif;
    font-weight: bold;
}

.zz img {
    width: 35px;
    height: 30px;
}

.galleries {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 13px; 
    max-width: 100%;
    overflow: hidden;
}

.flags img{
    width: 25px;
    height: 25px;
}

.gallery img {
    width: 100%;
}

.backward,
.forward {
    font-size: 16px;
    padding-top: 10px;
}

.backward,
.forward {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: auto;
    padding: 5px 10px 5px 10px;
    margin: -10px 28px 0 28px;
}

.month ul li,
.monthsunset ul li  {
    font-size:13px;
}

.days {
    padding :10px  10px 0 10px;
}

.days li {
    width: 13%;
}

.homepic {
   text-align:center;
}

.star {
    padding-top: 5%;
}

.links {
    font-size: 8px;
}
.container-dimensions:hover,
.container-dimensions-is-active {
    transition: transform 0.9s ease;   
    transform: scale(1.25);
}

.homepic:hover,
.homepic-active {
    transition: transform 0.9s ease;     
    transform: scale(1.12);
}                 

.links2 {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0;
}

.links2 table {
    width: 100%;
}

.links2 td {
    color: #BE8B06;
    text-align: center;
    width: 12.5%;
    padding-bottom: 5px;
    font-size: 8px;
    margin: 0 0 0 0;
}   

@media (max-width: 550px) {

.wrapper {
   padding-bottom: 10px;                                             ;
} 

.zz  {
    padding-top: 20%; 
    font-size: 9px;        
}

.zz img {
    width: 30px;
    height: 25px;
}

.flags img{
    width: 20px;
    height: 20px;
}

h4 {
    font: 8px Arial, sans-serif;
    font-weight: bold;
}


.linkovi td {
    padding: 0 0 0 0;      
}

.mapsp {
    padding-bottom: 0;
}

.google {
    padding-top: 0;
    width: 100%;
    margin: 11px 25px 0px 25px;
}

iframe {
    width: 100%;
    border: 2px solid  #C4AE7C;
}
}

@media (max-width: 500px) {

.zz  {
    padding-top:15%;        
    font-size: 9px;
}

h4 {
    font: 6px Arial, sans-serif;
    font-weight: bold;
}


.days li  {
    width: 12%;
    height: 25px;
}

.prev,
.next {
    padding: 5px 5px 5px 5px;
}

.google {
    width: 100%;
    margin: 11px 25px 0px 25px;
}

.icons td{ 
   font: 8px;
}
}
}



 
