html,
body,
li, 
ul {
    margin: 0;
    padding: 0;
}

*,  *::before, *::after {
    box-sizing: border-box;
}

body {
    background: white;
    font: 11px Verdana, sans-serif;
    background: -webkit-linear-gradient(right,  #ada996, #f2f2f2, #dbdbdb,  #eaeaea, #ffffff, #ffffff, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    background: linear-gradient( to right, #ada996, #f2f2f2, #dbdbdb,  #eaeaea, #ffffff, #ffffff, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    overflow-y: scroll;  
}

body::-webkit-scrollbar{
    width:10px;
    background: #ada996;
    position: absolute;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ada996;
    border: 3px solid  #978966;
}     


body::-webkit-scrollbar-thumb:hover{
    border-radius: 5px;
    background: white;
    border: 3px solid  #978966;
}     

p  {
    color: #BE8B06;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    color:  #978966;   
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    background: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    width: 80%;
    border: 10px solid #978966;
}

.header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.logo {
    padding-left: 5px;
    text-align: center;
    flex: 1 1 25%;
}

.logo p {
    border-bottom: 1px solid #BE8B06;
    border-top: 1px solid #BE8B06;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin: 0 25px 0 25px;
    padding: 2px;
}

.sunrisep,
.sunsetp,
.surroundingsp,
.pulap,
.locationp {
    font: 18px Arial, sans-serif;
    text-align: center;
    width: 100%;
    color: #BE8B06;
    padding: 0 23px 5px 30px;    
}

.mapsp {
    font: 18px Arial, sans-serif;
    text-align: center;
    width: 100%;
    color: #BE8B06;
    padding: 0 23px 0 30px;    
}

.locationp,
.surroundingsp {
    margin-top: 10px;
}

.info {
    padding: 0 30px 0 30px;
    width: 100%;
}

.sunrisep p,
.sunsetp p,
.surroundingsp p,
.pulap p,
.locationp p {
    border-bottom: 1px solid  #BE8B06;
    margin: 0 5px 0 0px;
    padding: 1px;
    color:  #BE8B06;
}

.surroundingsp p,
.pulap p {
    padding: 10px 0 0 0;
}

.textsunrise,
.textsunset {
    padding: 0 23px 45px 30px;
}

.textpula,
.textsurroundings  {
    padding: 0 23px 45px 30px;
}

.textlocation {
    padding: 0 23px 10px 30px;   
}

.flags {
    display: flex;
    flex: 1 1 75%;
    justify-content: flex-end;
    padding-right: 25px;
}

.flags table {
    border-radius: 2%;
    margin-top: 5px;
    text-align: center;
}

.flags td {
    width: 35px;
    text-align: center;
}

.flags img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #C4AE7C;
}

.links img,
.navlocation img,
.totop img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #C4AE7C;
}

.flags img:hover,
.links img:hover,
.navlocation img:hover,
.totop img:hover {
    transform: scale(1.3);
}

.totop { 
    text-align: center;
    width: 100%;
    padding: 15px 0 10px 0;
}

h1 {
    font: 24px Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #BE8B06;
}

h2 {
    text-align: center;
    font: 18px Arial, sans-serif;
    color: #BE8B06;
    border-bottom: 1px solid #BE8B06;
    margin: 0 30px 0 30px; 
    text-align: center;
    width: 100%;
}

h3 {
    font: 14px Arial, sans-serif;
    color: #BE8B06;
    border-bottom: 1px solid #BE8B06;;
    margin: 15px 0px 10px 0px; 
    text-align: center;
}

.galleries {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 15px; 
    max-width: 100%;
    overflow: hidden;
    padding: 0 10px 35px 30px;
    width: 100%;
}

.flags ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    padding: 10px 0 10px 0;
}

.star {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    padding: 15px 25px 10px 0; 
}

.star img {
    width: 25px;
    height: 25px;
}

.welcome {
    padding: 0 30px 15px 32px;
}

.pricelist {
    width: 100%;
    padding: 0 26px 15px 26px;
    -webkit-font-smoothing: antialiased;
}

.pricelist table {
    width: 100%;
    border: 1px solid #C4AE7C;
}

.cjenik th,
.cjenik td {
    text-align: center;
    border: 1px solid #C4AE7C;
}

.cjenik th {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #BE8B06 !important;
    color: rgb(190, 139, 6) !important;
    background-color: #dbdbdb;
    width: 33%;
}

.cjenik td {
    -webkit-font-smoothing: antialiased;
    color: #BE8B06 !important;
    color: rgb(190, 139, 6) !important;
    background-color: #eee;
    width: 33%;
    font-size:12px;
    font-weight: bold;
}

.links {
    width: 100%;
    padding: 10px 0 20px 0;
}

.links table {
    width: 100%;
}

.links td {
    height: 20px;
    color: #BE8B06;
    width: 12,5%;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 15px;
    width: 100%;
    padding: 30px 28px  19px 30px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.1s;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);
    border: 1px solid white;
    border-radius: 3%;
}

.gallery img:hover:not(.full) {
   transform: scale(1.11);
}

.gallery img.full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: 0.3s ease;
}

.calendar,
.calendarsunset {
    width: 94.5%;
    height: 350px;
    overflow: hidden;
    position:relative;
    margin: 10px 0 0 29px;
}

.month,
.monthsunset {
    background-color: #d3cdbd;
    text-align: center;
    height: 120px;
    border: 4px solid #978966;
}

.month ul,
.monthsunset ul {
    list-style: none;
}

.month ul li,
.monthsunset ul li  {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.prev,
.next {
    background-color: #00000019;
    font-weight: bolder;
    margin-top: 10px;
    border-top: 3px solid #978966;
    border-bottom: 3px solid #978966;
}

.prev {
    position: absolute;
    left: 0;
    border-radius: 0 6px 6px 0;
    padding: 5px 10px 5px 10px;
}

.prev a,
.next a {
    font-size: 25px;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 6px 0 0 6px;
    padding: 5px 10px 5px 10px;
}

.prev:hover,
.next:hover {
    background-color:#0000004D;
}

.days {
    border-left: 4px  solid #978966;
    border-right: 4px  solid #978966;    
    width: 100%;
    height: 227px;
    background-color:  #eee;
    padding: 10px 0 0 5px;

}
   
.days li  {
    display: inline-block;
    width: 13.8%;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bolder;
    font-size: 11px;
    background-color:#d9d8d8ee;
    height: 25px;
}

li.act {
    background-color: #FF5F1F;
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.odl {
    background: linear-gradient(to right,  #FF5F1F  35%,#ccb587 50%);
    border: 1px solid;
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.dol {
    background: linear-gradient(to right,#ccb587 50%, #FF5F1F 66%);
    border: 1px solid; 
    color: #5b4204;
    border-color: #986f08;
    padding-top: 3px;
}

li.empty {
    background-color: #eee;
    color: #eee;
    padding-top: 3px;
}

li.day {
    border: 1px solid;
    padding-top: 3px;
    color: #7c5a05;
    margin-bottom: 10px;
    border-color: #986f08;
    background-color: #d3ad62;
}

li.free {
    border: 1px solid;
    color: #986f08;
    border-color: #986f08;
    background-color: #ccb587;
    padding-top: 3px;
}

.red {
      text-align: center;
      width: 100%
}

.red p {
    color: #FF5F1F;
    margin-bottom: 40px;
}

.slide {
    margin: 19px 0 19px 0;
    width: 200px;
    height: 133px;
    overflow: hidden;
    position: relative;
    border-radius: 3%;
    border: 1px solid;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.45);
}

.slide:hover {
    transform: scale(1.2);
}



.slide>div {
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    animation: slide 16s infinite;
    opacity: 0;
}

.slide>div:nth-child(2) {
    animation-delay: 2s;
}

.slide>div:nth-child(3) {
    animation-delay: 4s;
}

.slide>div:nth-child(4) {
    animation-delay: 6s;
}

.slide>div:nth-child(5) {
    animation-delay: 8s;
}

.slide>div:nth-child(6) {
    animation-delay: 10s;
}

.slide>div:nth-child(7) {
    animation-delay: 12s;
}

.slide>div:nth-child(8) {
    animation-delay: 14s;
}

@keyframes slide {

    10%,
    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        transform: scale(1.3, 1.3);
    }
}

.container-dimensions {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 0 28px 0 28px;
}

.container-dimensions:hover,
.container-dimensions-is-active {
    transition: transform 0.3s ease;
    will-change: transform;
    transform: scale(1.17);
}

.container-dimensions img {
    vertical-align: middle;
    border: 1px solid #988249;
}

.mySlides {
    display: none;
    padding-bottom: 25px;
}

.mySlides:first-child {
    display: block;
}

.mySlides img {
    width: 100%;
    height: auto;
    display: block;
}

.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 80px 0 0 12px;
    position: absolute;
}

.backward,
.forward {
    background-color:#00000033;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 10;
    width: auto;
    padding: 5px 10px 5px 10px;
    margin: -50px 28px 0 28px;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid #88774b;
    border-top: 3px solid #88774b;
}

.backward,
.forward {
    -webkit-user-select: none; 
    -ms-user-select: none;       
    user-select: none;
}

.backward {
    right: 0;
    border-radius: 6px 0 0 6px;
}

.forward {
    left: 0; 
    border-radius: 0 6px 6px 0;
}

.backward:hover,
.forward:hover {
    background-color:#00000066;
}

.homepic,
.homepiclocation {
    padding: 16px 28px 5px 28px;
}

.homepic img {
    transition: transform 0.9s ease;
    will-change: transform;
    border: 1px solid #BE8B06;
}

.homepic img.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    object-fit: cover;
    box-sizing: border-box;
}

.homepic img:hover:not(.full) {
    transform: scale(1.065);
}

.maps  {
    padding: 10px;
}

.maps p {
    margin: 0 33px 0 15px;
    padding: 1px;
    color: #BE8B06;
}

.google {
    padding-top: 11px;
    width: 100%;
}

iframe {
    height:450px;
    width: 94.5%;
    margin: 0 10px 0 25px;
    border: 2px solid #C4AE7C;
}

iframe:hover {
    border: 2px solid #978966;
}

@media screen and (max-width: 1020px) {

.wrapperhome {
    padding-bottom: 10px;
}

.star {
    height: 30px;                                              ;
} 

.left-sectionlocation,
.left-sectionhome,
.left-sectionsunrise,
.left-sectionsunset,
.left-sectionpula,
.left-sectionsurroundings, 
.right {

    padding: 0px 10px 0 10px;
}

.logo {
    padding-left: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.galleries {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px; 
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.slide {
    margin: 2px 10px 19px 0;
    width: 265px;
    height: 176px;
    overflow: hidden;
    position: relative;  
}

.slide {
    width: 100%;
    height: auto;        
    aspect-ratio: 3/2;
}

.flags {
    width: 100%;
    text-align: center;
}

.flags {
    display: box;
    padding-left: 3%;
    width: 100%;
}

.totop {
    text-align: center;
    padding: 30px 0 0 0;
}

.welcome {
    height: 515px;
}

.gallery img {
    width: 100%;
}

.backward,
.forward {
    font-size: 16px;
    padding: 10px;
}

.month ul li,
.monthsunset ul li  {
    font-size:13px;
}

.days {
    padding :10px  10px 0 10px;
}

.days li {
    width: 13%;
}

.nav {
    width: 15%;
    padding: 24px 0 0 0px;
}

.navlocation {
    width: 15%;
    padding: 24px 0 0 10px;
}

.textleftlocation,
.textlefthome {
    padding-top: 10px 0 0 0;
    padding-left: 0;
    padding-right: 0;
    width: 85%;
}

.textleftsunrise  {
    height: 270px;
}

.textleftsunset {
    height: 260px;
}

.textleftsurroundings {
    height: 220px;
} 

.textleftpula {
    height: 270px;
}

.textleftsunrise,
.textleftsunset,
.textleftsurroundings,
.textleftpula {
    width: 100%;
    padding: 10px 0 10px 0;
}

.textlefthome img {
    border: none;
    box-shadow: none;
    padding: 90px 0 0 80px;
}

.homepic {
   text-align:center;
}

iframe {
    height: 300px;
}
   
.star {
    padding-top: 5%;
}
}

@media screen and (max-width: 600px) {

.wrapperhome,
.wrappersunrise,
.wrappersunset,
.wrappersurroundings,
.wrapperpula,
.wrapperlocation {
    padding-bottom: 10px;
}

.star {
    height: 30px;                                              ;
} 

.left-sectionlocation,
.left-sectionhome,
.left-sectionsunrise,
.left-sectionsunset,
.left-sectionpula,
.left-sectionsurroundings, 
.right {
    flex: 1 1 100%;
    padding: 0px 10px 0 10px;
}

.logo {
    padding-left: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.galleries {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px; 
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.slide {
    margin: 2px 10px 19px 0;
    width: 265px;
    height: 176px;
    overflow: hidden;
    position: relative;  
}

.slide {
    width: 100%;
    height: auto;        
    aspect-ratio: 3/2;
}

.flags ul {
    justify-content: center;
    gap: 6px;
}

.flags ul li {
    list-style: none;
}

.totop {
    text-align: center;
    padding: 30px 0 0 0;
}


.gallery img {
    width: 100%;
}

.backward,
.forward {
    font-size: 16px;
    padding: 10px;
}

.month ul li,
.monthsunset ul li  {
    font-size:13px;
}

.days {
    padding :10px  10px 0 10px;
}

.days li {
    width: 13%;
}

.nav {
    width: 15%;
    padding: 24px 0 0 0px;
}

.navlocation {
    width: 15%;
    padding: 24px 0 0 10px;
}

.textleftlocation {
    padding-top: 10px 0 0 0;
    padding-left: 0;
    padding-right: 0;
    width: 85%;
}

.textleftsunrise  {
    height: 270px;
}

.textleftsunset {
    height: 260px;
}

.textleftsurroundings {
    height: 245px;
} 

.textleftpula {
    height: 300px;
}

.textleftsunrise,
.textleftsunset,
.textleftsurroundings,
.textleftpula {
    width: 100%;
    padding: 10px 0 10px 0;
}

.textlefthome  {
    width: 100%;
    padding: 80px 0 0 0;
}


.textlefthome img {
    width: 100%;
    padding: 60px 0 0 0;
    padding-left: 0;
}


.homepic {
   text-align:center;
}

iframe {
    width: 99%;
    height: 300px;
}
   
.star {
    padding-top: 5%;
}
}

@media (max-width: 550px) {

.textlefthome  {
    width: 80%;
}

.textlefthome img {
    width: 80%;
    padding: 40px 0 0 35px;
}

.textleftsunrise  {
    height: 330px;
}

.textleftsunset {
    height: 300px;
}

.textleftsurroundings {
    height: 280px;
} 


.textleftpula {
    height: 360px;
}

.welcome {
    height: 350px;
}

iframe {
    width: 99%;
    height: 200px;
}

.navlocation {
    width: 15%;
    padding: 24px 0 0 0;
}

}


 

@media (max-width: 500px) {

.textleftlocation {
    padding: 10px 10px 0 0;
    width: 85%;
}

.textleftsunrise  {
    height: 380px;
}

.textleftsunset {
    height: 350px;
}

.textleftsurroundings {
    height: 280px;
} 

.textleftpula {
    height: 380px;
}

.welcome {
    height: 700px;
}

iframe {
    width: 99%;
    height: 200px;
}
}


 
