
html,body,ul,li,title p {margin:0;padding:0;}
body{color:#5f4504;overflow-y: scroll;overflow-x:hidden;margin:0 3.5% 0 3.5%;justify-content:center;align-items:center;text-align:center;font-family:'Fantasy',serif;}
ul{list-style:none;}
body::-webkit-scrollbar{width:10px;}body::-webkit-scrollbar-thumb{border-radius:5px;border:3.5px solid;}
a{text-decoration:none;color:#ffffffff;}
img{max-width:100%;height:auto;}
.wrapperhome,.wrapper{display:flex;flex-wrap:wrap;position:relative;}.wrapperhome{margin-top:5px;}.wrapper{margin-top:20px;}
.left-section{flex:1 1 20%;}
.right{flex:1 1 60%;}
.logo{padding-right:12.5%;}.logo p{font-weight:bold;padding:1px; letter-spacing:0.2em;}
.flags{display:grid;column-gap:6px;grid-template-columns:repeat(5, 1fr);}.flags img{width:2.5rem;}.flags img:hover{transform:scale(1.6);}
.title,.textleft p,.icons,.locpic,h3{padding-right:3.5vw;}
.title{font-size:22px;}.title p{padding:1px;margin:0;}
.title p,ha,h4,.logo p{border-bottom:1px solid;} 
.textlefthome{padding:10vh 2.5vw 0 0}.textlefthome img{width:15vw;}
.textleft{text-align:left;font-size:14px;}
.homepic{padding:15px 0 15px 0;}.homepic img,.locpic img{border:1px solid #52aacd;border-radius:2%;}
.homepic img.full,.locpic img.full,.gallery img.full{width:100vw;height:100vh;position:fixed;top:0;left:0;z-index:999;object-fit:cover;box-sizing:border-box;}
.locpic{padding:25px 0 10px 0;}
.locpic img:hover:not(.full),.homepic img:hover:not(.full){transition:transform 0.9s ease;transform:scale(1.05);}
.gallery{display:grid;gap:21px;padding:37px 0 19px 0;}  
.icons2 img,.icons3 img{border-radius:50%;border:2px solid #ca8f06;width:30px;}.icons2 img:hover,.icons3 img:hover{box-shadow:0 0 10px #FEAD15;transition:transform 0.3s ease;transform:scale(1.34);}
.icons1,star,table,.days,.galleriesb,.slide>div{width:100%;}
.linkovi{font-weight:bold;color:#5f4504;;display:block;position:relative;padding:0.1em 0;font-size:14px;margin:5px 0 5px 0;}.linkovi::after{content:'';position:absolute;bottom:0;left:0;width:100%;height:0.1em;background-color:#5f4504;;opacity:0;transition:opacity 800ms,transform 300ms;}.linkovi::after{opacity:1;transform:scale(0);transform-origin:center;}.linkovi:hover::after,.linkovi:focus::after{transform:scale(1);}
.icons2 img.icons3 img,.slide,.locpic img,.gallery img,.homepic img{box-shadow:0 6px 4px rgba(0, 0, 0, 0.45);}              
.swiper-container{margin-top: 25px;overflow:hidden;}.swiper-container:hover{transition:transform 0.9s ease;transform:scale(1.09);}.swiper-container img,.swiper-wrapper img{vertical-align:middle;}.swiper-slide{display:block;background-position:center;background-size:cover;}.swiper-slide img{display:block;border:1px solid #000000;}
.icons>div,.icons1>div,.icons2>div{align-items:center;display:flex;flex-direction:column;}
.icons1>div,.icons2>div{gap:10px;}
.icons>div{gap:5px;}
.icons,.icons1,.icons2,.galleriesb{display:grid;column-gap:6px;}
.icons{grid-template-columns:repeat(2, 1fr);}
.icons1,.galleriesb,.gallery{grid-template-columns:repeat(4, 1fr);}
.icons2{grid-template-columns:repeat(6, 1fr);}.icons2 div{padding-bottom:50px;}
.icons span,.icons1 span{font-size:10px;font-weight:600;}.icons>div{padding-bottom:7px;}
.icons2 span,.icons3 span{font-size:12px;font-weight:600;}
.icons img,.icons1 img{height:clamp(30px,5vw,35px);}
.icons3{display:grid;grid-template-columns:repeat(1, 1fr);width:55%;}
.icons3>div{display:flex;flex-direction:column;padding-bottom:50px;}.icons3 a{padding:5px 0 5px 0}
.galleries{margin:20px 3.5vw 0 0;}.galleriesb{column-gap:3.5vw;margin-top:0;width:100%;}
.slide{overflow:hidden;position:relative;border-radius:3%;border:1px solid;width:100%;aspect-ratio:3/2;margin-bottom: 15px;}.slide:hover:hover{transition:transform 0.5s ease;transform:scale(1.05);}
.slide>div{background-position:center;height:100%;background-size:cover;position:absolute;animation:slide 16s infinite;opacity:0;}
.mySlides img{display:block;}
.mySlides:first-child{display:block;}.slide>div:nth-child(2),.slideb>div:nth-child(2){animation-delay:2s;}.slide>div:nth-child(3),.slideb>div:nth-child(3){animation-delay:4s;}.slide>div:nth-child(4),.slideb>div:nth-child(4){animation-delay:6s;}.slide>div:nth-child(5),.slideb>div:nth-child(5){animation-delay:8s;}.slide>div:nth-child(6),.slideb>div:nth-child(6){animation-delay:10s}.slide>div:nth-child(7),.slideb>div:nth-child(7){animation-delay:12s;}.slide>div:nth-child(8),.slideb>div:nth-child(8){animation-delay:14s;}
.logo p,h1,h2,h3,h5,.month,.monthsunset,iframe{margin:0;}
h1{font-size:26px;padding:0;}h2{font-size:20px;}h3{font-size:18px;padding-top:8px;}h4{font-size:14px;margin:24px 3.5vw 0 0;}
.star img{width:10vw;}
table{border-collapse:collapse;}
th,td{border:1px solid;font-weight:bold;}th{background:#dbdbdb;}td{background:#eee;}
.pricelist{font-size:1.1vw;}
.calendar,.calendarsunset{height:59vh;overflow:hidden;position:relative;margin:20px 0 0 0;border:2px solid;}
h5{padding:20px 0 0 0;font-size:14px;}  
.month,.monthsunset{background-color:#d3cdbd;height:15vh;border-bottom:2px solid;}.month ul li,.monthsunset ul li{font-size: 14px;letter-spacing:3px;}
.prev,.next{background-color:#00000019;font-weight:bold;margin-top:10px;border-top:2px solid;border-bottom:2px solid;padding:5px 10px 5px 10px;position:absolute;}
.prev{left:0;border-radius:0 6px 6px 0;}
.prev a,.next a{font-size: 25px;color: #ffffff;}
.next{right:0;border-radius:6px 0 0 6px;}
.prev:hover,.next:hover{background-color:#0000004D;}
.days{height:50vh;background-color:#eee;padding:10px 0 0 1vw;text-align:left;}.days li{display:inline-block;width:13.2%;margin-bottom:4px;font-weight:bold;font-size:14px;background-color:#d9d8d8ee;height:4.2vh;color:#000000;padding-top:3px;border:1px solid;text-align:center;}
li.act{background-color:#FF5F1F;}li.odl{background:linear-gradient(to right,#FF5F1F 35%,#ccb587 50%);}li.dol{background:linear-gradient(to right,#ccb587 50%, #FF5F1F 66%);}li.empty{background-color:#eee;color:#eee;}li.day{margin-bottom:10px;background-color:#d3ad62;}li.free{background-color:#eddcb9;}
.red p{color:#FF5F1F;font-size:14px;}
@keyframes slide{10%,20%{opacity:1;}30%{opacity:0;}40%{transform:scale(1.3, 1.3);}}
.numbertext{color:#ffffff;font-size:28px;padding:140px 0 0 20px;position:absolute;font-weight:bold;-webkit-text-stroke:0.02em rgb(0 , 0,0)}
.backward,.forward{cursor:pointer;position:absolute;height:100%;z-index:10;padding:10px 20px 10px 20px;margin:-50px 0 0 0;}
.backward{right:0;width:50%;}.forward{left:0;width:50%;}
.gallery{display:grid;gap:21px;padding:37px 0 19px 0;}.gallery img{object-fit:cover;transition:transform 0.9s ease;}.gallery img:hover:not(.full){transform:scale(1.2);}
#map{aspect-ratio:2/0.8;}#map{border:1px solid;padding:20px 0 20px 0;}
@media(max-width:1024px){
h4{font-size:14px;font-weight:bold;}           
.days li{width:13%;}
.swiper-container:hover{transition:transform 0.9s ease;transform:scale(1.09);}}
@media(max-width:830px){.wrappersurroundings,.wrapperpula,.wrapperlocation,.wrappersunset,.wrappersunrise,.wrapperhome{padding:0 0 0 0;}   
.left-section,.left-sectionhome,.left-sectionlogo,.right{flex:1 1 100%;margin-right:0;}
.logo{padding-right:0}
.title,.textleft p,.icons,.locpic,.textlefthome{padding:0 0 0 0;}
.textleft,.h5{font-size:12px;}
.title{font-size:20px;}
.galleriesb{grid-template-columns:repeat(2, minmax(0, 1fr));column-gap:20px;}
.slide{margin-bottom:10px;}.slide:hover{transform:scale(1.05);}
.swiper-container{margin:20px 0 0 0;}.swiper-container:hover{transform: scale(1.07);}
.textlefthome img{padding-top:10px;width:6vw;}
h1{font-size:18px;}h2{font-size:18px;margin:0 0 0 0;padding:0 0 0 0;}h3{padding:0 0 0 0;margin-bottom:5px;font-size:12px}h4{margin:15px 0 0 0;}h5{padding:5px 0 0 0;}
.calendar,.calendarsunset{height:45vh;}
.month,.monthsunset{height:10vh;}.month ul,.monthsunset ul{margin:0;}
.red p{font-size:12px;}
.prev a,.next a{font-size:15px;}
.days li{font-size:10px;height:3vh;width:13.4%;}
.icons{grid-template-columns:repeat(4, 1fr);padding:5px 0 0 0;column-gap:8px;}
.icons span,.icons1 span,.icons2 span,.icons3 span{font-size:10px;}
.icons3{grid-template-columns:repeat(4, 1fr);column-gap:0;width:100%;}.icons3{padding:0 0 0 0;}.icons3>div{grid-template-columns:repeat(2, 1fr);padding-bottom:0}.icons3 a{padding-bottom:5px}
.icons2 div{padding-bottom:5px;gap:5px;} 
.galleries{display:none}
.pricelist{padding-bottom:5px;font-size:2vw;}
.star img{width:100px;}
.numbertext{padding-top:30px;font-size:24px;}
.homepic{padding:5px 0 5px 0;}
.backward,.forward{width:auto;}
#map{aspect-ratio:2/1.3;}
@media (min-width: 768px) {
.mySwiper,.mySwiper *{cursor:pointer !important;}}.swiper a{pointer-events:pointer;}}
@media(max-width:768px){
.icons2{grid-template-columns:repeat(3, 1fr);}.icons2 span{padding-bottom:5px;}
.icons,.icons2{column-gap:3px;font-size:1rem;}
.icons2 img,.icons3 img{width:4.5vw;}
.icons img{height:30px;}
h5{font-size:10px;padding-top:12px;}
.calendar,.calendarsunset{height:215px;}
.month,.monthsunset{height:50px;}
.days{width:100%;}.days li{height:13px;width:12.8%;}}
@media(max-width:450px){
.gallery{display:none;}
.icons2 span,.icons span{font-size:8px;}
.days li{width:12.3%;}
h5{font-size:8px;}}
 

